<div id="showHorse">
<h3 class="name">{{this.name}}</h3>
    <img src="./images/lib/icons/delete32.png" class="smallDeleteIcon" id="{{this._id}}">

<span class="e"> <strong> E :</strong> {{this.e}} </span>  <span class="ue"> <strong> UE:</strong> {{this.ue}} </span>


    <img class="iconImg img-circle" src={{this.img}}>



    <button type="button" class="btn editHorseBtn">Redigera Häst</button>
    <button type="button" class="btn deleteHorseBtn">Ta bort häst</button>

</div>


